$theme-blu-clr: #4285F4;
$theme-green-clr: #34A853;
$theme-ylw-clr: #FBBC04;
$theme-red-clr: #EA4335;
$primary-btn-clr: #1a73e8;
$primary-btn-border-clr: #1a73e8;
$white-clr: #ffffff;
$text-heading-clr: #202124;